@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto&display=swap");

.card-container{
    font-family: 'Roboto', sans-serif;
    color: #051C12;
}

.energy-label{
    border-radius: 5px;
    width: 3rem;
    height: 3rem;
}

.energy-label.a-tag{
    background-color: #70A02A;
}
.energy-label.b-tag{
    background-color: #8CCF2B;
}
