
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    
}

.Hero{
    position: relative;
    min-height: 100vh;
    background-image: url("./assets/imgHero.jpeg");
    background-size: cover;
    display: flex;
    justify-content:center ;
    align-items: center;
    color: #FFFFFF;
  

}
.Hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    
  }

.section-hero{
    max-width: 35%;
    text-align: center;
    z-index: 2;
}


.titulo-hero{
    font-size: 3rem;
    font-weight: 800;
}

.p-hero{
    font-weight: 500;
}
.btn-hero{
    background-color: rgba(248, 147, 79, 0.7);
    padding: 0.1rem 0.9rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    font-weight: 500;
}