

.container-login{
    
    background-image: url(../../../public/img-login.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.input-container{
    margin-top: 8rem;
    margin-bottom: 2rem;
    background: linear-gradient(252deg, rgba(52, 150, 107, 0.95) 1.76%, rgba(53, 86, 71, 0.95) 87.66%);
    border-radius: 8px;
    

}
.form-container{
    color: #FFF;
    margin-left: 2rem;
    overflow: hidden;
    position: relative;
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.75);
    
   
    
}
.form{
    background:none;
    border: none;
    outline: 0px;
    
    
    
   
}
/* .lbl-nombre{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
   
    
}
  .text-nomb::after{
    content: ""; 
    position: relative;
    left: 0;
    margin-bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.75);
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
 .text-nomb{
    font-size: 16px;
    position: absolute;
    bottom: 3px;
    left: 0;
    transition: all 0.3s ease;
    color: #FFF;
}
 .form-container :focus  ~ .lbl-nombre {
    
    transform: translateX(-150%); 
    font-size: 12px;
    color: #fff;
    padding: 0px;
}  */
::placeholder{
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.logo{
    color: #fff;
    margin-top: 1rem;
}


.title{
 color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}